<nav class="fixed top-0 left-0 right-0 backdrop-blur-2xl bg-white/95">
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-between">
        <div class="flex space-x-4">
          <!-- Logo -->
          <div>
            <a href="#" class="flex items-center py-5 px-2 text-primary hover:text-black">
              <span class="font-bold">Edu App</span>
            </a>
          </div>
          <!-- Links -->
          <div class="hidden md:flex items-center space-x-1">
            <a href="#" class="py-5 px-3 text-black hover:text-gray-500">Home</a>
            <a href="#" class="py-5 px-3 text-black hover:text-gray-500">E-book</a>
            <a href="#" class="py-5 px-3 text-black hover:text-gray-500">About</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  