<div class="fixed bottom-0 left-0 w-full bg-sky-100 h-12 flex justify-between items-center px-4">
    <a class=" w-6 flex flex-col items-center" href="#">
        <img src="../assets/img/back.svg" alt="" srcset="">
        <span class="text-xs text-black hover:text-gray-500">Back</span>
    </a>
    <a class="w-6 flex flex-col items-center" href="#">
        <img src="../assets/img/house.svg" alt="" srcset="">
        <span class="text-xs text-black hover:text-gray-500">Home</span>
    </a>
    <a class="w-6 flex flex-col items-center" href="#">
        <img src="../assets/img/info.svg" alt="" srcset="">
        <span class="text-xs text-black hover:text-gray-500">About</span>
    </a>
</div>